<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PrincetonPy Information</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/jumbotron-narrow-cover.css" rel="stylesheet">



  </head>

  <body>
        <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="../">Home</a></li>
                <li role="presentation" class="active"><a href="../information">Information</a></li>
                <li role="presentation"><a href="../about">About</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">PrincetonPy</h3>
          </div>
          <div class="jumbotron">
            <h1>PrincetonPy</h1>
            <p class="lead">A Python education tool for COS 126</p>
            <p><a class="btn btn-lg btn-success" href="../exercises" role="button">Get started</a></p>
          </div>

          <div class="row marketing">
            <div class="col-lg-6">
              <h4>Why Python</h4>
              <p>Python is one of the most popular programming languages today. It's an easy-to-use scripting language with application in web-development, machine learning, statistical analysis, and much more.</p>

              <h4>How it works</h4>
              <p>PrincetonPy contains interactive exercises mirroring those from COS 126. You can complete each exercise and run Python code in your browser. Each exercise is designed to expand and reinforce your knowledge of Python. </p>

              <h4>Subheading</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
              <h4>Why PrincetonPy</h4>
              <p>PrincetonPy is catered toward COS 126 graduates. Why spend hours learning fundamentals of programming on CodeAcademy when you can get a comprehensive crash-course in Python, with content from COS 126?</p>

              <h4>Apply your 126 skills</h4>
              <p>We have included the Java answers to every exercise as well - you can use your 126 computer science knowledge and apply it to a new language! </p>

              <h4>Subheading</h4>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
          </div>

 </body>
</html>
