{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PrincetonPy Information</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap/css/jumbotron-narrow-cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="../">Home</a></li>
            <li role="presentation" class="active"><a href="../information">Information</a></li>
            <li role="presentation"><a href="../about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PrincetonPy</h3>
      </div>
      <div class="jumbotron">
        <h1>PrincetonPy</h1>
        <p class="lead">PrincetonPy is designed for Princeton students who have completed the COS126 curriculum and want to learn Python. PrincetonPy leverages the COS126 curriculum, material that you're already familiar with, to teach you Python. Starting with simple exercises like Hello World to harder recursive problems, PrincetonPy offers an exhaustive survey of Python concepts.</p>
        <p><a class="btn btn-lg btn-success" href="../exercises" role="button">Get started</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Why Python</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

    <div id="container"> 
    </div>
    </div> <!-- /container -->
    {% render_bundle 'main' %}

 </body>
</html>
