<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{exercise.question_name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Sidebar styles -->
    <link rel="stylesheet" href="../../static/bootstrap/css/sidebar.css">
    <!-- Code Highlighting -->
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

  </head>

  <body>

 <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h2><a href="../../"> PrincetonPy </a></h2>
                </div>
                
                <ul class="list-unstyled components">
                    <li>
                        <a href="#Elements" data-toggle="collapse" aria-expanded="false">Elements of Python</a>
                        <ul class="collapse list-unstyled" id="Elements">
                            {% for e in exercise_list %}
                                {% if e.category == 'Elements' %}
                                    <li><a href="../{{e.slug}}">{{e.question_name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#Functions" data-toggle="collapse" aria-expanded="false">Functions in Python</a>
                        <ul class="collapse list-unstyled" id="Functions">
                            {% for e in exercise_list %}
                                {% if e.category == 'Functions' %}
                                    <li><a href="../{{e.slug}}">{{e.question_name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#OOP" data-toggle="collapse" aria-expanded="false">Object Oriented Programming</a>
                        <ul class="collapse list-unstyled" id="OOP">
                            {% for e in exercise_list %}
                                {% if e.category == 'OOP' %}
                                    <li><a href="../{{e.slug}}">{{e.question_name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="#Data" data-toggle="collapse" aria-expanded="false">Python Data Structures</a>
                        <ul class="collapse list-unstyled" id="Data">
                            {% for e in exercise_list %}
                                {% if e.category == 'data' %}
                                    <li><a href="../{{e.slug}}">{{e.question_name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                  
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">
                <nav class="navbar navbar-default">
                    <div class="container">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="../../exercises">Exercise Home</a></li>
                                <li><a href="../../information">Information</a></li>
                                <li><a href="../../about">About</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <h1>{{exercise.question_name}}</h1>
                <div class="line"></div>

                <h3> Lesson </h3>
                <pre>{{exercise.lesson}}</pre>

                <h3> Task </h3>
                <pre>{{exercise.question_guidelines}}</pre>
                <h3>Sample Inputs</h3>
                <pre>{{exercise.test_inputs}}</pre>

                <div class="line"></div>

                <!-- <iframe frameborder="0" width="100%" height="500px" src="https://repl.it/languages/python3"></iframe> -->
                <iframe src="https://trinket.io/embed/python/212aa6eda2" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

                <h3>Java Equivalent</h3>
                <button href="#java_equivalent" id = "java_button" class="mt-2 btn btn-default" data-toggle="collapse">Java Code</button>
                          <div id="java_equivalent" class="mt-2 collapse"> <pre><code class="Java">{{exercise.java_equivalent}}</code></pre></div>  

                <h3>Sample Outputs</h3>
                <pre>{{exercise.test_outputs}}</pre>

                <div class="line"></div>

                <h3>Hints</h3>
                {% for i in exercise.hints.all %}
                    <button href="#Hint{{i.number}}" id = "hint_button{{i.number}}" class="mt-2 btn btn-default" data-toggle="collapse" disabled="disabled" onclick="toggleButton({{i.number}}, {{exercise.hints.count}})">Hint {{i.number}}</button>

                        <div id="Hint{{i.number}}" class="mt-2 collapse"> <pre>{{i.hint}}</pre></div>  

                {% endfor %}
                <div class="line"></div>

                <h3>Python Code</h3>
                <button href="#answer_code" id = "answer_button" class="mt-2 btn btn-default" data-toggle="collapse" disabled="disabled">Python Answer Code</button>
                          <div id="answer_code" class="mt-2 collapse"><pre><code class="python3">{{exercise.answer_code}}</code></pre></div>  
                <div class="line"></div>
                <h3>Feedback</h3>
                <a href="https://goo.gl/forms/OgTRkFAWS8UDsVDq1" class="mt-2 btn btn-default">Submit Feedback</a>
            </div>

        </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Specific template JS -->
    <script src="../../static/bootstrap/js/sidebar.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- REACT JS Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <!-- Code Highlighting -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
